<div class="container-fluid " style=" color:snow; background-color:black;">
    <div class="row">
      <div class="col-sm rounded "style="background-color: aqua; color: black;">          
        <h3>MedShop</h3>
        Buy anything Here...
      </div>
  
    </div>
</div>